* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(232, 250, 215);
}

nav ul{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;

}

img {
    width: 100vw;
}

.BtInput{

    background-color: blueviolet;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

}