* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    text-align: center;
}

h1 {
    padding: 20px 0px;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.semafaro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(6, 6, 6);
    width: 250px;
    height: 600px;
    border-radius: 60px;
    box-shadow: 0px 0px 4px black;

}

.vermelho,
.verde,
.amarelo {
    background-color: #44434387;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px white;
}

section h3 {
    margin-top: 30px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.bts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
}


button {
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    background-color: rgb(51, 163, 243);
    color: white;
    box-shadow: 0px 0px 2px black;
    transition: 0.3s ease;
    margin: 0px 5px;
}

button:hover {
    background-color: aqua;

}


